body {
    width: 400px;
}
.h6 {
    margin: 0;
}

.icon-link {
    text-decoration: none;
}

#github-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#refresh-button {
    font-size: .875em!important;
}
/* .icon-github {
    font-size: large;
}
.icon-spinner11 {
    font-weight: bold;
    font-size: medium;
} */

.simplebar-track {
    z-index: 3 !important;
    opacity: 0.4;
}

#course-collapse {
    max-height: 168px;
}

#course-container {
    padding-left: 5px;
    padding-right: 5px;
}
#course-container:empty::before {
    content: "No courses found";
    color: gray;
    font-style: italic;
    font-size: 0.875em;
    display: block;
    padding: 10px;
}

.course-color-dot {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 8px;
    display: inline-block;
}

.course-item.list-group-item {
    cursor: pointer;
    transition: all .1s;
}

.course-item.list-group-item > * {
    pointer-events: none;
}

.course-item.list-group-item.active {
    background-color: rgb(233, 233, 233);
    color: #495057;
}

#select-color h2 small {
    color: gray;
    font-style: italic;
    font-size: 0.875em;
    font-weight: normal;
}

.option-color-circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: darkgray;
    background-color: lightgray;
    border: 1.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option-color-circle.active::after {
    font-family: "icomoon";
    content: "\ea10";
    font-size: 20px;
}

.timetable-example {
    display: inline-block;
    width: 146px;
    height: 67.5px;
    padding: 8px;
    line-height: 18px;
    margin: -1px;
    border: 1px solid transparent;
    opacity: .9;
    overflow: hidden;
    pointer-events: none;
    border-color: rgb(152, 152, 152);
    background: rgb(202, 202, 202);
    color: rgb(72, 72, 72);
}
.timetable-example > .title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.timetable-example > .title > span {
    float: right;
    text-align: right;
}

.timetable-example > .time {
    opacity: .7;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.color-picker-app {
    display: inline-block;
    box-shadow: none;
    width: 12em!important;
    /* margin-top: .5rem!important; */
}
